# Required - Browser.cash Agent API
AGENT_API_KEY=yl6ycfwomtu81045r2vn2gdyppkit98brg6qclo54o101jvtghnzr9b3nkgyy0va
BROWSER_CASH_API_KEY=gs6phsyji8ccbg4jd4f5no9e3mrt3fs9oyy81n1n5x0lp8om3r4j5tua3r2uy2dn

# Required - OpenAI API
OPENAI_KEY=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

# Required - Gamma API  
GAMMA_API_KEY=sk-gamma-Ejjebf2qn6S5Ie7sUShKakonjUAxSnMzYw0KBU1h4


# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
